<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>M J Anthony Ltd</string>
	<key>Builder Version</key>
	<string>11601.6.17</string>
	<key>CFBundleDisplayName</key>
	<string>Sold on eBay</string>
	<key>CFBundleIdentifier</key>
	<string>com.mjanthony.soldOnEbay</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict>
		<key>Context Menu Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string>contextmenutranslate</string>
				<key>Identifier</key>
				<string>soldOnEbay</string>
				<key>Title</key>
				<string>🔍 Sold on eBay</string>
			</dict>
		</array>
		<key>Global Page</key>
		<string>global.html</string>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>injected.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>Easily check the going rate of an item on eBay</string>
	<key>DeveloperIdentifier</key>
	<string>0000000000</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Website</key>
	<string>http://mjanthony.co.uk</string>
</dict>
</plist>
